

/***********************sec2*****************************/
#sub1_sec2{
        background-color: lightsteelblue;
        height: 100vh;
        padding: 100px;
}
.submenu_box2 > a{
    font-family: 'Amiri', serif;
    font-size: 7rem;color: #000;        font-weight: 400;font-style: italic;
    display: inline-block;
  }
.submenu_box2 > a:nth-child(2){
          color: #000;
          font-size: 2rem;
          display: inline-block;
  }


#sub1_sec2 h3{
        font-size: 2rem;
        line-height: 35px;
}
#sub1_sec2 h3:nth-child(3){
        margin-bottom: 30px;
}
/* #sub1_sec1 h5{
        font-size: 1.8rem;
        color: #000;
        margin-top: -20px;
        margin-bottom: 30px;
} */
/*****홈버튼*****/
.main_bottom{
        top: 85%;
        left: 8%;
        position: absolute;
        position: fixed;
      }
      .main_bottom>span{
        margin-left: 15px;
        cursor: pointer;
        color: #000;
        font-weight: 500;
      }
      .main_btn{
        width: 25px;height: 25px;
        position: relative;
        display: inline-block;
        cursor: pointer;
      }
      .main_btn span{
        position: absolute;
      }
      .main_btn .dot1{
        top: 0;
        left: 0;
        width: 4px;
        height: 4px;
        background-color: #000;
        border-radius: 50%;
      }
      .main_btn .dot2{
        top: 0;
        right: 0;
        width: 4px;
        height: 4px;
        background-color: #000;
        border-radius: 50%;
      }
      .main_btn .dot3{
        bottom: 0;
        left: 0;
        width: 4px;
        height: 4px;
        background-color: #000;
        border-radius: 50%;
      }
      .main_btn .dot4{
        bottom: 0;
        right: 0;
        width: 4px;
        height: 4px;
        background-color: #000;
        border-radius: 50%;
      }


